body {
    margin: 0 auto;
    height: 100vh;
    width: 80vw;
    /* background-color: black; */
    background-image: url(https://www.toptal.com/designers/subtlepatterns/patterns/restaurant.png);
    background-repeat: repeat;
}


input {
    margin: 50px 0 25px 0;
    padding: 10px 50px;
    font-size: 2rem;
    border: 2px solid grey;
    text-align: left;
}

.images {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 50px auto;
}

.thumb {
    margin: 0 20px 20px 0;
}

hr {
    margin-bottom: 50px;
    width: 1100px;
    margin-right: 100px; 
}

img {
    margin: 0 20px 20px 0;
    width: 180px;
    height: 180px;
    background-size: cover;
    position: relative;
    flex-grow: 1;
}

.images a {
    margin: 20px 20px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: gray;
    width: 180px;
    font-size: 0.8rem;
    text-align: center;
}